body {
    background: #EEEDE8;
    font: 14px/1.8 'Gotham Narrow SSm', "Microsoft YaHei", "微軟雅黑", "Microsoft Jhenghei", "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
}
a{
    text-decoration: none;
}
.btn:focus {
  outline: none;
}
.wrap{
    -moz-box-shadow: 0 -1px 4px #cfcfcf;
    -webkit-box-shadow: 0 -1px 4px #cfcfcf;
    box-shadow: 0 -1px 4px #cfcfcf;
    background: #fff;
    clear: both;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    width: 980px;
    margin: 5px auto 0;
    padding-top: 10px;
}
.wrap-popup{
    -moz-box-shadow: 0 -1px 4px #cfcfcf;
    -webkit-box-shadow: 0 -1px 4px #cfcfcf;
    box-shadow: 0 -1px 4px #cfcfcf;
    background: #fff;
    clear: both;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    width: 800px;
    margin: 5px auto 0;
    padding-top: 10px;
}
#navi {
    overflow: hidden;
    height: 44px;
    background: #000000 url("/_images/menu_bg.png") repeat-x 0 0;
}
#navi ul {
    padding-left: 10px; 
}
#navi li {
    /* line-height: 40px; */
    height: 33px;
    float: left;
    
    line-height: 33px;
    font-weight: 700;
    font-size: 14px;
  
}
#navi li a {
    float: left;
    height: 44px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    color: #ffffff;
}
#navi li a:hover,#navi li a.highlight{
    background: url("/_images/menu_bg_a.png") no-repeat 50% -44px;
}
ul li {
    list-style: none;
}
#footer {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 20px;
    background: #ff5b7e;
    position: relative;
}
.footer-links{

}
#footer .timezone{
    color: #FFF;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#footer .language{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FFF;
}
#footer .language a{
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}
#footer .footer-links a{
    color: #FFF;
    text-decoration: none;
    transition: text-shadow 160ms ease, color 160ms ease;
}
.fl{
    float: left;
    display: inline;}
.fr{
    float: right;
    display: inline;
    
}
.hd{
    font-weight: bold;
}
#header{
    position: relative;
    height: 50px;
}
#header .header-link{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#header .header-link li{
    float: left;
    margin-right: 8px;    
}
#header .header-link li a {
    margin-right: 8px;
    text-decoration: none;
   
}
#content{
    
    padding: 30px 10px;
    _padding-top: 10px;
}
.clearfix {
    display: block;
}
.msg p {
    font-size: 15px;
}
.redF {
    color: #F00;
}
.msg .hd, .login_msg .hd {
    font-family: "微軟正黑體","Microsoft JhengHei";
    font-size: 22px;
    font-weight: bold;
}
.tc {
    text-align: center;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.deal_msg label {
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
.vm {
    vertical-align: middle;
}
.deal_msg .next {
    margin: 0 auto;
    padding: 10px 0;
}
#content .deal_in {
    border: 1px solid #999;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    margin: 10px 0;
}
.well{
    background-color: #fff;
    padding: 19px;
    margin-bottom: 20px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 2px;
    border: 0;
}
.well-lg {
    padding: 26px;
}
.v-dot-line{
    height: 400px;
    background: red;
    width: 2px;
}
.daddy ,.girl{
    width: 450px;
    padding: 10px;
    cursor: pointer;
}
.daddy .roll-desc,.girl .roll-desc{
    font-size: 17px;
}
.register .hd {
    font-size: 17px;
    font-weight: bold;
}
input[type=text], input[type=email], input[type=password], select, textarea {
    margin: 0px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-top-color: #ccc;
    outline: 0;
    font: inherit;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    color: #333;
    line-height: 1;
}
/* 區塊-填寫會員資料
---------------------------------------------------- */
.blk-reg .item {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: -200px;
	width: 200px;

}
.blk-reg form {
	margin-left: 200px;
}
.blk-reg p{
	margin-left: -200px;
}
.blk-reg input[type=text],
.blk-reg input[type=email],
.blk-reg input[type=password],
.blk-reg input[type=password],
.blk-reg select {
    margin-left: -5px;
}
input[type=text],
input[type=email],
input[type=password],
input[type=password],
select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
    display: inline-block;
    margin-bottom: 4px;
  
}
.blk-reg .section{
    margin-top: 10px;
    border-bottom: 1px solid #ff5b7e;
}
.blk-reg em.note {
    font-style: normal;
    color: #000;
}
.blk-reg em {
    color: #F00;
}

.blk-reg textarea{
    height: 150px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
    display: inline-block;
}
.contentl {
  width: 640px;
  margin-right: 10px;
}
.blk-login em.note {
    font-style: normal;
    color: #000;
}
.blk-login em {
    color: #F00;
    width: 100%;
}


.wrap-box.login-box {
  width: 300px;
}
.wrap-box {
  margin: auto;
}
.wrap-box .wrap-inner {
  padding: 10px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #ccc;
  -webkit-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff, 2px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff, 2px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff, 2px 2px 3px rgba(0, 0, 0, 0.2);
  background: url(images/signbox-BG.jpg) repeat-x top #ebebeb;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#FCFCFC),to(#ebebeb 25%));
  background-image: -webkit-linear-gradient(top, #FCFCFC, #ebebeb 25%);
  background-image: -moz-linear-gradient(top, #FCFCFC, #ebebeb 25%);
  background-image: -ms-linear-gradient(top, #FCFCFC, #ebebeb 25%);
  background-image: -o-linear-gradient(top, #FCFCFC, #ebebeb 25%);
  background-image: linear-gradient(top, #FCFCFC, #ebebeb 25%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb',GradientType=0 );
  clear: both;
}
.help {
  margin: 10px 0;
}
.field .label {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  color: #333;
  max-width: 250px;
  padding: 5px 0;
}
.wrap-box h3 {
  font-size: 18px;
  padding-bottom: 10px;
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  color: #000;
}
.keepin {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
  
.account_set {
  font-size: 15px;
    
}
.account_set .hd {
  font-size: 22px;
    
}
.account_set ul {
  padding-left: 10px;
}
.account_set ul li{
  line-height: 30px;
}
.validate_mail{
  font-size: 15px;
}
.validate_mail .hd {
  font-size: 22px;
    
}
.validate_mail ul {
  padding-left: 10px;
}
.validate_mail ul li{
  line-height: 30px;
}
/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
#crop-pane {
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
#crop-pane .crop-container {
  width: 200px;
  height: 240px;
  overflow: hidden;
}
#preview{
    margin-left: 20px;
}
#crop-pane{
    margin-right: 20px;
}
#crop-pane , #preview{
    margin-bottom:20px;
}
#preview img{
  max-height: 500px;
  max-width: 500px;
}
.photo_update{
    margin: 0 auto;
    margin-bottom: 15px;
}
.photo_update .crop{
    width: 214px;
}
.photo_list .update_image{
}
.photo_list ul{
    margin: 0 auto;
    width: 800px;
}
.photo_list li{
    text-align: center;
    padding: 15px;
    float: left;
    width: 130px;
    font-family: "Segoe UI Semibold";
    margin-bottom: 0px;
}
.photo_list li .image-box{
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ddd;

    display: inline-block;
    padding: 5px;
}
.photo_list li .image-box img{
    cursor: pointer;
    width: 100px;
    height: 120px;
}
.photo_list li .image-box-off .btn-clickboard{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 0px 3px;
    font-size: 10px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border-left: 1px solid #e1e1e8;
    border-bottom: 1px solid #e1e1e8;
    border-radius: 0 0px 0 4px;
    display: none;
}
.photo_list li .image-box-on .btn-clickboard{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 0px 3px;
    font-size: 10px;
    color: #FFF;
    cursor: pointer;
    background-color: #ff5b7e;
    border-left: 1px solid #e1e1e8;
    border-bottom: 1px solid #e1e1e8;
    border-radius: 0 0px 0 4px;
    border-color: #ff5b7e;
}
.photo_list li .image-box-off .btn-clickboard-hover{
    background-color: #ff5b7e;
    border-color: #ff5b7e;
    color: #FFF;
}

.profile_set{

}
.profile_set .cover_photo{
    position: relative;
}
.profile_set #cover_photo{
}
.profile_set .other_photo{
    margin-top: 10px;
}
.profile_set .other_photo ul{
    margin: 0px;
    padding: 0px;
}

.profile_set .other_photo ul li{
    float: left;
}
.profile_set .other_photo ul li img{
    width: 50px;
    height: 60px;
    cursor: pointer;
}

.write_set .write_right{
    margin: 15px;
    width: 63%;
}
.write_set .write_right textarea{
    width: 100%;
    height: 100px;
}
.message_right {
  width: 58%;
  padding: 5px;
  
}
.message_right textarea{
    width: 100%;
    height: 100px;
}
.message_left {
  width: 40%;
}
.message_left .text{
    padding-left: 20px; 
    width: 250px; 
    display: block;
    position: relative;
}
.message_left .text .new_icon{
    position: absolute;
    right: 0;
    top: 0;
}
.message_box{
    padding: 10px;
    border-bottom: 1px dotted #efd6fc;
    cursor: pointer;
    margin-right: 10px;
    color: #333;
}
.message_box:hover{
  background-color: #efd6fc;
}
.scrollbar-container {
    max-width: 1200px;
}
.scrollbar-container > div {
    max-height: 500px;
    overflow: auto;
}
.scrollbar-container-history {
    max-width: 1200px;
}
.scrollbar-container-history > div {
    max-height: 500px;
    overflow: auto;
}
.message_history{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #efd6fc;
}
.message_history .text {
  padding-left: 20px;
  padding-right: 10px;
  width: 440px;
  position: relative;
}
.message_history .text .read_status{
  position: absolute;
  right: 10px;
  bottom: :0;
}
.home_left{
    width:65%;
}
.home_left .catwalk{
    padding: 15px 0;
}
.home_left ul{
  margin: 0;
  padding: 0;
  width: 100%;
}
.home_left li{
  float: left;
  padding: 4px 8px;
}
.home_left .title{
  font-size: 17px;
  font-weight: bold;
}
.profile_left{
    width:300px;
}
.profile_right{
    width:62%;
}
.alert {
  margin-bottom: 0px;
}  
#bs_alert{
    padding: 15px;
    display: none;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.action_set ul{
    margin: 0px;
    padding: 0px;
}
.action_set ul li.user{
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.action_set .avatar{
    float: left;
    position: relative;
    margin: 0 12px 0 0;
    text-decoration: none;
    background-color: #f3f3f3;
    height: 120px;
    width: 100px;
}
.action_set .message-info {
    float: left;
    position: relative;
}
.action_set .identity a {
    color: #333;
    font-size: 16px;
}
.action_set .identity strong {
    font-size: 16px;
}
.action_set .identity {
    width: 630px;
    position: absolute;
    left: 0;
    top: 13px;
}
/* submenu */
.block-wrapper{
    margin-bottom: 14px;
    display: block;
    position: relative;

}
.block-wrapper li{
    float: left;
}
.tabs.general li a.ctrl {
    float: left;
    height: 30px;
    margin-right: 20px;
    padding: 0 2px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    line-height: 180%;
}
.tabs.general li.active .ctrl {
    border-bottom: 4px solid #2d9cd3;
}
.photo_set ul{
    margin: 0px;
    padding: 0px;
}
/*
    
wish    
*/
.mywish_set  ul{
    margin: 0px;
    padding: 0px;
}
.mywish_set img.thumb{
    width: 100px;
    height: 120px;
}
.mywish_set img.crop{
    width: 300px;
    height: 360px;
}
.mywish_set .wish_message{
    width: 640px;
}
.mywish_set .wish_card{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}

.mywish_set .wish_reply{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}
.mywish_set textarea[name=message_content]{
    width: 100%;
}
.mywish_set textarea[name=wish_content]{
    width: 400px;
    height: 120px;
    font-size: 14px;
}
.mywish_set input[name=wish_title]{
    width: 400px;
}
.mywish_set .blk-wish{
    margin-left: 0px;
}
.mywish_set .identity-content{
    position: relative;
    width: 600px;
    margin-left: 10px;
}
.mywish_set .expire_date{
    position: absolute;
    right: 0px;
    top: 0px;
}
.mywish_set .wish_content{
    margin-bottom: 20px;
}
.mywish_set .edit_model{
    display: none;
}
.mywish_set .edit_model textarea[name=wish_content]
{
    width: 100%;
    height: 100%;
    background:linear-gradient(#F9EFAF, #F7E98D);
    background:-o-linear-gradient(#F9EFAF, #F7E98D);
    background:-ms-linear-gradient(#F9EFAF, #F7E98D);
    background:-moz-linear-gradient(#F9EFAF, #F7E98D);
    background:-webkit-linear-gradient(#F9EFAF, #F7E98D);   
    margin-top: 5px;
}
.mywish_set .edit_model input[name=wish_title]
{
    width: 100%;
    font-weight: normal;
}
.mywish_set .btn_submit,
.mywish_set .btn_cancel{
    display: none;
}
.mywish_set .wish_ctrl .btn{
    margin-right:10px;
}
/* fortune */
.fortune_set ul{
    margin: 0px;
    padding: 0px;
}

/* 區塊-填寫會員資料
---------------------------------------------------- */
.blk-wish .item {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: -200px;
	width: 200px;

}
.blk-wish form {
	margin-left: 200px;
}
.blk-wish p{
	margin-left: -200px;
}
.blk-wish input[type=text],
.blk-wish input[type=email],
.blk-wish input[type=password],
.blk-wish select {
    margin-left: -4px;
}
input[type=text],
input[type=email],
input[type=password],
input[type=password],
select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
    display: inline-block;
    margin-bottom: 4px;
  
}
.blk-wish .section{
    margin-top: 10px;
    border-bottom: 1px solid #ff5b7e;
}
.blk-wish em.note {
    font-style: normal;
    color: #000;
}
.blk-wish em {
    color: #F00;
}

.blk-wish textarea{
    height: 150px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
    display: inline-block;
    border-radius: 4px;
}

.wish_title,
.wish_title a{
    font-size: 17px;
    font-weight: bold;
    color: #5d008c;
}
.reply_history{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #efd6fc;
}
.reply_history .text {
  padding-left: 20px;
  padding-right: 10px;
  width: 520px;
  position: relative;
}
.Bdrs-25 {
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -moz-border-radius: 25px;
}
li.user_list{
    position: relative;
}
.status-wrapper{
    display: block;
    position: absolute;

}
.status-wrapper-block{
    display: block;
    position: relative;

}
.status-wrapper .icon {
    position: absolute;
    left: 4px;
    bottom: 4px;
    display: block;
    width: 11px;
    height: 11px;
    background: url("/_images/online-status.png") no-repeat;
}
.status-wrapper-block .icon{
    position: absolute;
    left: 0px;
    bottom: 6px;
    width: 11px;
    height: 11px;
    background: url("/_images/online-status.png") no-repeat;
}
.status-wrapper.online .icon,
.status-wrapper-block.online .icon{
    background-position: -44px -44px;
}
.status-wrapper .caption {
    display: none;
}
.status-wrapper-block .caption {
    margin-left: 14px;
}

.status-wrapper.offline .icon,
.status-wrapper-block.offline .icon{
    background-position: -44px -244px;
}
.status-wrapper.pending .icon,
.status-wrapper-block.pending .icon{
    background-position: -44px -144px;
}
.upload_image{
    padding: 10px 10px;
}
